*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    background-color: pink;
    color: #fff;
    
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0; 
    text-align: center;
}
footer{
    background-color: pink;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 20px;
    
}
.produto{
    color: pink;
    font-weight: bold;
}
.lista{
    color: pink;
    font-weight: bold;
}
.botao{
    background-color: pink;
    border-radius: 8px;
    padding: 2px;
}